<div id="content" class="main container-mid">

  <%= erb :'user/_user_info', :layout => false, :locals => {:user => @user}  %>

  <% if @logged_in_user == current_user %>
    <div class="indented">
      <span>
        <a href="/users/<%= @user.id %>/delete"><button type="button" id="bttn" class="brown">Delete Account</button></a>
        <a href="/users/<%= @user.id %>/update_account"><button type="button" id="bttn" class="brown">Edit Account</button></a>
      </span>
    </div>
  <% end %>

  <br>
  <hr><hr>
  <br>

  <div class="container-mid">

<!-- GOOGLE MAP INPUT AND OUTPUT -->
   <!--  <div id="panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input type="button" value="Geocode" onclick="codeAddress()">
    </div>
 -->
    <div id="map-canvas"></div>



  </div>
</div>