<div id="footer">
  <h4 id="footer_app_name" class="bottom_bar_footer">A full stack web application using Flickr API and GoogleMaps API!</h4>

  <nav class="bottom_nav">
    <ul>
      <li><a href="http://devbootcamp.com/">Dev Bootcamp</a></li>
      <li><a href="https://github.com/fiery-skippers-2014/JpegJourneys">Github</a></li>
      <li><a href="https://trello.com/b/sF41LyUg/jpegjourneys">Trello</a></li>
    </ul>
  </nav>
</div>
<div class="clearfix"></div>