<div id="header">

  <h1 id="app_name" class="top_bar_title">JpegJourneys</h1>
  <nav class="main_nav">
    <ul>
      <li><a href="/photos">Photos</a></li>
      <li><a href="/">Home</a></li>
        <li><a href="/search/">Search for a Destination</a></li>
      <% if current_user %>
        <li><a href="/users/<%= @logged_in_user.id %>"><%= @logged_in_user.name %>'s Page</a></li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/sessions/new">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><b><a href="/auth">Login with OAuth</a></b><li>
      <% end %>
    </ul>
  </nav>

</div>
<div class="clearfix"></div>