<div class="sidebar">This is the sidebar</div>



<div id="content">

<h3>Welome to JpegJourneys</h3>


<% if @journeys %>
  <% @journeys.each do |journey| %>

    <% journey.title %>

  <% end %>
<% end %>

</div>

