<div class="container">
  <h1>Here is a photo based on your tag:</h1>
  <p>Tags: <%= @tags %></p>
  <img src="<%= @url %>"><br/>
  <a href="/photos/new">get a new form based on tags</a>
</div><br>


<br><hr><br>

  <div class="container">

    <!-- GOOGLE MAP OUTPUT -->
    <div id="map-canvas"></div>

  </div>